.text-center{
    text-align: center;
}

.heading-small{
    font-size: 1.25rem ;
} 
.heading-medium{
    font-size: 1.5em ;
}
.heading-big{
    font-size: 1.75rem ;
}

.bg-dark-blue{
    background-color: #062e51;
}

.bg-light-blue{
    background-color: rgb(58, 129, 221);
}

.btn{
    background:rgb(58, 129, 221);
    padding: 0.8rem 3rem;
    border-radius: 7px;
    letter-spacing: 0.5px;
}

.btn-primary{
    background-color:#062e51;
  
}
.btn-primary:hover{
    color:rgb(58, 129, 221);
    background: #ffff ;
    border: 0.5px solid rgb(58, 129, 221);
}

.btn-dark:hover{
    background: #333;
}
.btn-dark:hover{
    color: rgb(58, 129, 221);
    background: #fff;
    border: 0.5px solid #333;
}
.btn-block{
    width: 100%;
}
.form-group{
    padding: 0.25rem 0;
}
.form-group label{
    display:block;
}
.form-control{
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    resize: none;
    border-radius: 2px;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
}